/* Estilos para telas menores */
@media (max-width: 768px) {
    #contactPage {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    #contactTitle {
        font-size: 2rem; /* Reduzido para se ajustar melhor em telas pequenas */
        padding-left: 0;
        text-align: center;
    }

    #DescriptContact {
        width: 100%;
        padding-left: 0;
        font-size: 1rem; /* Reduzido para melhor ajuste */
    }

    #socialIcons, #talkToMe {
        margin-top: 1rem;
        text-align: center;
    }

    .talk {
        font-size: 1.2rem; /* Reduzido para se ajustar melhor em telas pequenas */
        text-align: center;
    }

    .nameTalk {
        font-size: 0.8rem; /* Reduzido para se ajustar melhor em telas pequenas */
        text-align: center;
    }

    .localMensage, textarea {
        width: calc(100% - 2rem);
        height: 2rem; /* Reduzido para melhor ajuste */
        margin: 0 auto 1rem;
        font-size: 0.9rem; /* Reduzido para melhor ajuste */
    }

    button {
        font-size: 0.9rem; /* Reduzido para melhor ajuste */
        padding: 0.5rem 1rem;
        margin: 1rem auto;
        display: block;
    }

    #titleProjects, #titleSkills {
        font-size: 3rem; /* Reduzido para melhorar a responsividade */
        margin-bottom: 1.5rem;
    }

    .slider {
        max-width: 100%;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    .skill-item {
        padding: 0.5rem; /* Reduzido para economizar espaço */
    }

    .skill-item img {
        width: 100%;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    #skills {
        padding: 2rem 0; /* Ajustado para melhor responsividade */
    }

    #titleSkills {
        font-size: 3rem; /* Reduzido para melhorar a responsividade em telas menores */
    }

    #subtitleSkills {
        font-size: 1.5rem; /* Reduzido para melhorar a responsividade em telas menores */
    }
}

/* Estilos para tablets e telas médias */
@media (min-width: 769px) and (max-width: 1024px) {
    #contactPage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        padding: 2rem;
    }

    #contactTitle {
        font-size: 2.5rem; /* Ajustado para se adequar melhor em tablets */
        padding-left: 0;
    }

    #DescriptContact {
        width: 100%;
        padding-left: 0;
        font-size: 1.2rem; /* Ajustado para se adequar melhor em tablets */
    }

    #socialIcons, #talkToMe {
        grid-column: 1 / 2;
        margin-top: 2rem;
        text-align: center;
    }

    .talk {
        font-size: 1.8rem; /* Ajustado para se adequar melhor em tablets */
    }

    .nameTalk {
        font-size: 1rem; /* Ajustado para se adequar melhor em tablets */
    }

    .localMensage, textarea {
        width: calc(100% - 2rem);
        height: 2.5rem;
        margin: 0 auto 1rem;
        font-size: 1rem; /* Ajustado para se adequar melhor em tablets */
    }

    button {
        font-size: 1rem; /* Ajustado para se adequar melhor em tablets */
        padding: 0.6rem 1.2rem;
        margin: 1rem auto;
        display: block;
    }

    #titleProjects, #titleSkills {
        font-size: 4rem; /* Ajustado para melhorar a responsividade em tablets */
    }

    .slider {
        max-width: 100%;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    .skill-item {
        padding: 0.75rem; /* Ajustado para caber melhor em telas médias */
    }

    .skill-item img {
        width: 100%;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    #skills {
        padding: 3rem 0; /* Ajustado para melhor responsividade */
    }

    #titleSkills {
        font-size: 4rem; /* Ajustado para melhorar a responsividade em tablets */
    }

    #subtitleSkills {
        font-size: 1.8rem; /* Ajustado para melhorar a responsividade em tablets */
    }
}
